name: Build and Release

on:
  push:
    tags:
      - 'v*'

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
    - name: Init
      run: echo "FILE_NAME=./lib/build/libs/ManifestEditor-${GITHUB_REF_NAME#v}.jar" >> $GITHUB_ENV

    - uses: actions/checkout@v4

    - uses: actions/setup-java@v5
      with:
        distribution: temurin
        java-version: '8'

    - uses: gradle/actions/setup-gradle@v5
      with:
        gradle-version: 5.4

    - run: ./gradlew build

    - name: Create / Update Release
      uses: ncipollo/release-action@v1
      with:
        tag: ${{ github.ref_name }}
        artifacts: ${{ env.FILE_NAME }}
        artifactErrorsFailBuild: true
        allowUpdates: true
        generateReleaseNotes: true
        makeLatest: true
